.meuNome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
}


.descricao {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
 background-color: #DDDB8B;
}

.resido {
    font-weight: 900;
}

.javascript {
    font-size: 35px;
}

.sql {
    font-size: 35px;
}

.bootstrap {
    font-size: 40px ;
}

.metoAgil {
    font-size: 50px;
}

#minha-foto {
 float: left ;
}

#image-container {
    height: 300px;
}

div {
    border: 2px solid black;
}
