.meuNome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
}

.descricao {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
 background-color: #DDDB8B;
}

.resido {
    font-weight: 900;
}

.javascript {
    font-size: 35px;
}

.sql {
    font-size: 35px;
}

.bootstrap {
    font-size: 40px ;
}

.metoAgil {
    font-size: 50px;
}

